* {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: hsl(0,0%,89%); */
}

.navbrand {
    font-family: 'Josefin Slab', serif;
    font-size: 100%;
    color: #08a559 !important;
}

/* navbar color */
.bg-dark{
    background-color: #000 !important;
}


#who-am-i{
    padding-top: 3% !important;
    margin-bottom: -1%;
    /* background-color: black; */
}

/* @media (max-width: 575.98px) { 
    .container #about{
        margin-top: 12% !important;
    }
} */

/* margin bottom for all containers */
.container {
    margin-bottom: 3% !important;
}

#toogleMobileMenu a {
    font-weight:200 !important;
    /* color: white !important; */
}
.scroll {
    font-weight: bold !important;
    text-decoration: underline !important;
}
#toogleMobileMenu a:hover {
    /* text-decoration: underline; */
    color: white;
    /* margin-bottom: 2px; */
    /* padding: 9%; */
    transition: .1s;
    font-weight: 600;
    /* border-radius: 25px; */
    /* border: 2px solid white; */
    /* border-bottom: 1.5px solid white; */
    /* line-height: 20px; */
}

.breadcrumb {
    margin-top: 2%;
}

#rani {
    text-decoration: none;
    font-weight: bold;
    color: #08a559 !important;
    /* underline; */
}


/* typed  */

body {
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.header-area {
    margin-top: 5%;
}

.header-area h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: black;
    font-size: 95%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}
 
#About {
    background-color: #111 !important;
    width: 100% !important;
    margin-bottom: 2% !important;
    /* first background color */
} 

@media (min-width: 768px) {
    .header-area h2 {
        position: absolute;
        /* top: 30%; */
        left: 50%;
    }
}

.header-area h2 span,
h2 {
    color: #08a559;
    margin-bottom: 5% !important;
    /* forestgreen; #17ad65; */
}

#who-am-i,h3{
    color: white !important;
    background-color: #111 !important;
}
.pre {
    width: 100% !important;
}

/* posters active*/

.colorChange:active,
.colorChange:focus,
.colorChange:hover {
    color: #08a559 !important;
}

.colorChange {
    color: black !important;
}


/*  posters size */

.posters img {
    height: 15% !important;
}


/* box shadow */


/* #box {
  box-shadow: inset -2px -3px 3px 0px rgba(50, 50, 50, 0.75);
  } */


/* changing color while hovering for projects  */

.fa-color:hover {
    color:  rgba(8,165,89,1); 
    /* darkgray; */

    /* color: rgb(9, 144, 255); */
}


/* Activities */
.btn {
    background-color: var(--background-color);
    color: #222;
    padding: .5em 1em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
  
    --background-color: rgb(6,228,148); 
    /* background: rgb(6,228,148); */
    /* #E3E3E3; */
    --border-size: 2px;
    --accent-color: linear-gradient(90deg, rgba(6,228,148,1) 0%, rgba(6,228,148,1) 0%, rgba(8,165,89,1) 100%);
    /* #0AF; */

    /* content: '';
    width: 80px;
    height: 80px; */
    /* z-index: -1;
    position: absolute;
    bottom: -80px;
    left: 0;
    background: rgb(6,228,148); */
    /* background: linear-gradient(90deg, rgba(6,228,148,1) 0%, rgba(6,228,148,1) 0%, rgba(8,165,89,1) 100%); */
    /* background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57,1,211)); */
    transition: 0.2s;
  }


.btn.btn-background-circle::after {
    text-align: center;
    font-size: large;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: transform 500ms ease-in-out;
  color: black;
  /* background-color: rgba(8,165,89,1); */
    transform: scale(1.5);
  }
  
  .btn.btn-background-circle:hover::before,
  .btn.btn-background-circle:focus::before {
    transform: scale(0);
  }
  
  .btn.btn-background-circle {
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
    transition: color 500ms ease-in-out;
  }
  
  .btn.btn-background-circle:hover,
  .btn.btn-background-circle:focus {
    color: white;
  }




/* Swipper Starts */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cert-content {
    position: relative;
    /* height: 0%; */
}
/* Swipper ends */


    /* Social media */
    #SocialMedia{
       
        /* box-shadow: 0 -5px 3px -3px white, 0 5px 3px -3px #ccc; */
        /* box-shadow: 0.2rem 0.2rem rgba(8,165,89,1) , -0.1rem -0.1rem #ccc; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    }
    .title{
        padding-top: 2%;
    }
    .socialicons {
        /* display: flex; */
        margin-top: 100px;
        justify-content: center;      
    }
    .socialicons .icon{
        width: 80px;
        height: 80px;
        box-shadow: 0 0 5px 10px rgba(0,0,0,0.05);
        margin: 0 30px;
        text-align: center;
        line-height: 80px;
        font-size: 30px;
        text-decoration: none;
        color: #000;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 90px;
    }
    .icon:after {
        content: '';
        width: 80px;
        height: 80px;
        z-index: -1;
        position: absolute;
        bottom: -80px;
        left: 0;
        background: rgb(6,228,148);
        background: linear-gradient(90deg, rgba(6,228,148,1) 0%, rgba(6,228,148,1) 0%, rgba(8,165,89,1) 100%);
        /* background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57,1,211)); */
        transition: 0.2s;
    }
    .socialicons .icon:hover, .socialicons .leetcode:hover {
        color: #fff;
    }
    a:hover::after {
        bottom: 0;
    }

    .check:after {        
            content: '';
            width: 80px;
            height: 80px;
            z-index: -1;
            position: absolute;
            bottom: -80px;
            left: 0;
            background: rgb(6,228,148);
            background: linear-gradient(90deg, rgba(6,228,148,1) 0%, rgba(6,228,148,1) 0%, rgba(8,165,89,1) 100%);
            /* background: linear-gradient(to bottom, rgb(158, 0, 231), rgb(57,1,211)); */
            transition: 0.2s;
        
    }

    /* footer */
    footer{
        position: absolute;
        /* bottom: 0;
        left: 0;
        right: 0; */
        background: #111;
        height: auto;
        /* width: 100vw; */
        font-family: "Open Sans";
        padding-top: 40px;
        color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
    }
    .socials li{
        margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i{
        font-size: 1.1rem;
        transition: color .4s ease;
    
    }
    .socials a:hover i{
        color: white;
        background-color: #111;
        border: solid 1px white;
        padding: 3px;
    }
    
    .footer-bottom{
        background: #000;
        width: 100vw;
        padding: 20px 0;
        text-align: center;
    }
    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        /* text-transform: capitalize; */
    }
    .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }

    .red-colour {
        color: red !important;
    }