* {
  font-family: Arial, Helvetica, sans-serif;
}
.navbrand{
  font-family: 'Josefin Slab', serif;
}
#toogleMobileMenu a:hover {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  border: 2px solid white; 
}
.breadcrumb{
  margin-top: 2%;
}
#rani{
  text-decoration: none; 
  /* underline; */
}