* {
  font-family: Arial, Helvetica, sans-serif;
}
.navbrand{
  font-family: 'Josefin Slab', serif;
}
#toogleMobileMenu a:hover {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  border: 2px solid white; 
}
.breadcrumb{
  margin-top: 2%;
}
#rani{
  text-decoration: none; 
  /* underline; */
}

/* typed  */
body{
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header-area h2{
  position: absolute;
  top: 50%;
  left: 50%;
  /* display: block;
  float: center; */
  /* justify-content: center; */
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: poppins;
  color : black  ;
   font-size: 4.5em;
   text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.header-area h2 span{
  color: forestgreen; 
   /* #17ad65; */
}